<a href="https://colab.research.google.com/github/diegarza/ValoreNulos/blob/main/Actividad2_1_Garza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
# from google.colab import files
# files.upload()

In [44]:
data = pd.read_csv('Ventas_totales.csv')
data.head(5)

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [45]:
data.columns

Index(['indice_tiempo', 'ventas_precios_corrientes',
       'ventas_precios_constantes', 'ventas_totales_canal_venta',
       'salon_ventas', 'canales_on_line', 'ventas_totales_medio_pago',
       'efectivo', 'tarjetas_debito', 'tarjetas_credito', 'otros_medios',
       'ventas_totales_grupo_articulos', 'subtotal_ventas_alimentos_bebidas',
       'bebidas', 'almacen', 'panaderia', 'lacteos', 'carnes',
       'verduleria_fruteria', 'alimentos_preparados_rotiseria',
       'articulos_limpieza_perfumeria', 'indumentaria_calzado_textiles_hogar',
       'electronicos_articulos_hogar', 'otros'],
      dtype='object')

In [46]:
# No se necesita eliminar filas ni columnas

In [47]:
nulos = data.isnull().sum()
nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

##**Sustitución de valores nulos**

In [48]:
data2=data.copy()

In [49]:
data2.dtypes

indice_tiempo                           object
ventas_precios_corrientes              float64
ventas_precios_constantes              float64
ventas_totales_canal_venta             float64
salon_ventas                           float64
canales_on_line                        float64
ventas_totales_medio_pago              float64
efectivo                               float64
tarjetas_debito                        float64
tarjetas_credito                       float64
otros_medios                           float64
ventas_totales_grupo_articulos         float64
subtotal_ventas_alimentos_bebidas      float64
bebidas                                float64
almacen                                float64
panaderia                              float64
lacteos                                float64
carnes                                 float64
verduleria_fruteria                    float64
alimentos_preparados_rotiseria         float64
articulos_limpieza_perfumeria          float64
indumentaria_calzado_textiles_hogar    float64
electronicos_articulos_hogar           float64
otros                                  float64
dtype: object

In [50]:
# Para la columna de salon_ventas se usará una sustitución por la media
data2["salon_ventas"] = data2["salon_ventas"].fillna(round(data2["salon_ventas"].mean(),1))

In [51]:
# Para la columna de tarjetas_debito se usará una sustitución por la mediana
# También para tarjetas_credito y otros_medios
data2["tarjetas_debito"] = data2["tarjetas_debito"].fillna(round(data2["tarjetas_debito"].median(),1))
data2["tarjetas_credito"] = data2["tarjetas_credito"].fillna(round(data2["tarjetas_credito"].median(),1))
data2["otros_medios"] = data2["otros_medios"].fillna(round(data2["otros_medios"].median(),1))

In [52]:
# Para subtotal_ventas_alimentos_bebidas se usará el método ffill
data2["subtotal_ventas_alimentos_bebidas"] =data2["subtotal_ventas_alimentos_bebidas"].fillna(method="ffill")

In [53]:
# Para las siguientes columnas se usará la sustitución por la media
data2[['bebidas', 'almacen', 'panaderia', 'lacteos', 'carnes',
       'verduleria_fruteria', 'alimentos_preparados_rotiseria']] = data2[['bebidas', 'almacen', 'panaderia', 'lacteos', 'carnes',
       'verduleria_fruteria', 'alimentos_preparados_rotiseria']].fillna(round(data2["salon_ventas"].mean(),1))

In [54]:
# Para indumentaria_calzado_textiles_hogar se sustituirá a los nulos por 600,000
data2["indumentaria_calzado_textiles_hogar"]= data2["indumentaria_calzado_textiles_hogar"].fillna(600000)

In [55]:
# Para electronicos_articulos_hogar se sustituirá por la mediana
data2["electronicos_articulos_hogar"] = data2["electronicos_articulos_hogar"].fillna(round(data2["electronicos_articulos_hogar"].median(),1))

In [56]:
# Se utilizará bfill para la columna otros
data2["otros"] = data2["otros"].fillna(method="bfill")

In [58]:
# Comprobamos que se haya hecho bien
data2.isnull().sum().sum()

0

In [59]:
data2.to_csv('data2.csv')